{% extends 'base.twig' %}
{# <!--page on post url (index.php route)--> #}
{# img fluid is adaptive view for phone, tablets... #}
{% block body %}
    <div class="container">
        <img src="https://dummyimage.com/1200x400/5b76ba/ffffff" class="img-fluid" alt="...">
        <h1 class="mb-3 mt-3">Blog post title</h1>
        <div class="container mb-3">
            <div class="row">
                <span class="text-muted">Yurii Malevych | 8 November, 2022</span>
            </div>
        </div>
        <span>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
            коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні,
            залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum,
            і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
        </span>
    </div>
{% endblock %}